:root {
  --background-black: #465a64;
  --background-grey-dark: #dcdce0;
  --background-grey: #d8d8d840;
  --color-blue: #004dff;
  --color-dark-red: #be3c50;
  --color-grey: #757575;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-black: #465a64;
    --background-grey-dark: white;
    --background-grey: white;
    --color-blue: white;
    --color-dark-red: white;
    --color-grey: white;
  }
}
