:root {
  --color-blue: #004dff;
  --color-dark-red: #be3c50;
  --color-grey: #757575;
  --theme-background-color: white;
  --theme-background-hover: #dcdce0;
  --theme-background: #d8d8d840;
  --toaster-background: #465a64;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-blue: #004dff;
    --color-dark-red: #be3c50;
    --color-grey: #757575;
    --theme-background-color: white;
    --theme-background-hover: #dcdce0;
    --theme-background: #d8d8d840;
    --toaster-background: #465a64;
  }
}
