* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeLegibility;
  overflow: hidden;
  background-color: var(--theme-background-color);
}

body.color-theme-in-transition,
body.color-theme-in-transition *,
body.color-theme-in-transition *:before,
body.color-theme-in-transition *:after {
  transition: background-color 1s ease-in-out;
}

:root {
  font-size: 16px;
}
